<h1 style="color:coral">Lets Eat Some Burgers!</h1>



<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>



<ul>
    {{!-- {{#each burgers}}
    {{#if sleepy}}
    {{> cats/cat-block sleep=false}}
    {{/if}}
    {{/each}} --}}
</ul>